/* RegiserStyles.css */

.form-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Change height to min-height */
  margin: 0; /* Remove default margin */
}

.register-form {
  width: 100%; /* Make the form width 100% */
  max-width: 400px; /* Set a maximum width */
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-sizing: border-box; /* Include padding and border in the width */
}

.register-form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  font-weight: bold;
  display: block; /* Display labels as blocks for better spacing */
  margin-bottom: 8px; /* Add margin below labels */
}

.register-form .ant-input {
  border-radius: 4px;
}

.register-form .ant-form-item {
  margin-bottom: 16px;
}

.m-2 {
  text-align: center;
  color: #1890ff;
  margin-top: 10px; /* Add margin to the top */
}

.btn-primary {
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #1890ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #40a9ff;
}
